# requirements.txt

# --- Core ML/AI Libraries ---
torch==2.2.2
torchaudio==2.2.2
#  speechbrain
speechbrain
numpy<2.0

# --- Gradio Web UI ---
gradio==4.19.2

# --- Audio/Video Processing ---
yt-dlp
ffmpeg-python
soundfile