# requirements.txt

#
torch==2.1.2
torchaudio==2.1.2
torchcodec

# Web UI
gradio

#
yt-dlp
ffmpeg-python
soundfile
requests
pydub

# Coqui TTS
TTS==0.22.0



transformers==4.35.2
huggingface-hub<1.0
protobuf==3.20.3